<% layout('./Layout/layout.ejs') -%>
    <div class="bg-body-extra-light">
        <div class="content content-boxed py-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-alt">
                    <li class="breadcrumb-item">
                        <a class="link-fx" href="/faculty/project">Project</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-fx" href="/faculty/project/<%= projectId %>/chapter">Chapters</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">

                        <%=chapter_name%>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="content">
        <div class="block block-rounded">

            <form class="uploadContentForm">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Current Document</h3>
                    <div class="block-options">
                        
                        <span class="text-muted fst-italic small me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= content.user_full_name %> at <%= content.updated_at || content.created_at %>">
                        Last updated <i class="fas fa-history ms-1"></i>
                        </span>
                        
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="far fa-floppy-disk"></i>
                            Save
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <input type="hidden" name="projectId" id="projectId" value="<%= projectId %>">
                    <input type="hidden" name="chapterId" id="chapterId" value="<%= formattedChapterName %>">
                    <div class="mb-4">
                        <textarea id="js-ckeditor5-classic" name="content" ><%= content.content %></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Discussions</h3>
            </div>


            <div class="block-content">
                <table class="table table-borderless">
                    <tbody>
                        <% documents.forEach(document=> { %> <!-- Loop through each document -->
                            <tr class="bg-body-light">
                                <td class="d-none d-sm-table-cell"></td>
                                <td class="fs-sm text-muted">
                                    <p class="fw-semibold mb-0 text-primary" >    <%= document.user_full_name.toUpperCase() %>  <span class="text-muted"> on        <%= new Date(document.created_at).toLocaleString() %>   </span></p>
                                </td>
                              </tr>
                            <tr>
                                <td class="d-none d-sm-table-cell text-center" style="width: 140px;">
                                    <p>

                                        <img class="img-avatar" src="/images/profile/<%= document.profile_url %>"
                                            alt=""> <!-- Placeholder for avatar -->

                                    </p>
                                    <p class="fw-medium">
                       
                                      
                                        <!-- Badge pill to indicate if the user is a Student or Faculty -->
                                        <span class="badge rounded-pill <%= document.user_type === 'Student' ? 'bg-primary' : 'bg-success' %>">
                                          <%= document.user_type %> <!-- Display 'Student' or 'Faculty' -->
                                        </span>
                                      </p>
                                      
                                </td>
                                
                                <td>
                                  
                                    
                             
                                    <p class="fw-bold mb-2">
                                        <%= document.title %>
                                    </p> <!-- Display title -->

                                    <p class="mb-3">
                                        <%= document.description %>
                                    </p>
                                   
                                    <% if (document.file) { %> <!-- Check if the document has a file -->


                                        <p class="mb-3">Attachment: <a class="" href="/uploads/<%= document.file %>"
                                                download="<%= document.file %>">
                                                <%= document.file %>
                                            </a>
                                        </p>

                                        <% } %>
                                        <hr>
                                </td>

                            </tr>
                            <% }) %>
                    </tbody>
                </table>


                <hr>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img class="img-avatar" src="/images/profile/<%=user_info.profile_url%>" alt="">
                            <p class="fs-sm fw-medium">
                                <%=user_info.fullname.toUpperCase()%>
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-10">
                        <form class="uploadDocumentFormFaculty"
                            enctype="multipart/form-data">
                            <input type="hidden" name="projectId" value="<%= projectId %>">
                            <input type="hidden" name="chapterId" value="<%= formattedChapterName %>">

                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="file" class="form-label">Attach File or Document</label>
                                <input type="file" class="form-control" id="file" name="file_document"
                                    accept=".pdf, .jpg, .jpeg, .png">
                            </div>
                            <div class="mb-4">
                                <button type="submit" class="btn btn-alt-primary">
                                    <i class="fa fa-upload me-1 opacity-50"></i> Upload
                                </button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>