<% layout('./Layout/layout.ejs') -%>
    <%block('script').append(` <style>
        /* Styles for the custom file input */
        .custom-file-upload {
        border: 2px dashed #dee2e6;
        background: #fff;
        border-radius: 6px;
        cursor: pointer;
        min-height: 150px;
        padding: 20px;
        text-align: center
        }

        .custom-file-upload:hover {
        background-color: #f8f9fa;
        }



        /* Hidden file input */
        #fileInput {
        display: none;
        }

        .file-list {
        margin-top: 10px;
        }

        .file-list-item {
        padding: 5px;
        border: 1px solid #ccc;
        margin: 5px 0;
        border-radius: 3px;
        }
        </style>
        `)%>
<div class="row">
    <div class="col-12">
        <div
            class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">
            <h4 class="page-title">
                Submit Application
            </h4>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/application">Applications</a></li>
                <li class="breadcrumb-item active">Submit Application</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              <form class="applicationForm">
                <h4>I. Personal Information</h4>
  
                <!-- Name Field -->
                <div class="mb-3">
                  <label for="name" class="form-label">Name (Last Name, First Name, Middle Name)</label>
                  <input type="text" class="form-control" id="name" name="name" required
                    value="<%=userProfile.lastname%>, <%=userProfile.firstname%>, <%=userProfile.middlename%>">
                </div>
                <div class="row">
                  <div class="col-lg-6"> <!-- Address Field -->
                    <div class="mb-3">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address" name="address" required>
                    </div>
                  </div>
                  <div class="col-lg-6"> <!-- Zip Code Field -->
                    <div class="mb-3">
                      <label for="zip_code" class="form-label">Zip Code</label>
                      <input type="text" class="form-control" id="zip_code" name="zip_code">
                    </div>
                  </div>
                  <div class="col-lg-6"> <!-- Phonenumber and Email Fields -->
                    <div class="mb-3">
                      <label for="phonenumber" class="form-label">Phonenumber Number(s)</label>
                      <input type="text" class="form-control" id="phonenumber" name="phonenumber" required
                        value="<%=userProfile.phonenumber%>">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" required
                        value="<%=userProfile.email%>">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <!-- Birth Date Field -->
                    <div class="mb-3">
                      <label for="birth_date" class="form-label">Birth Date</label>
                      <input type="date" class="form-control" id="birth_date" name="birth_date" required
                        value="<%=userProfile.birthday%>">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <!-- Birthplace Field -->
                    <div class="mb-3">
                      <label for="birthplace" class="form-label">Birthplace</label>
                      <input type="text" class="form-control" id="birthplace" name="birthplace" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="civil_status" class="form-label">Civil Status</label>
                      <select class="form-select" id="civil_status" name="civil_status" required>
                        <option value="" selected disabled>Select Status</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Separated">Separated</option>
                        <option value="Widowed">Widowed</option>
                        <option value="Divorced">Divorced</option>
                      </select>
                    </div>
  
                  </div>
                  <div class="col-lg-6">
                    <!-- Sex Field -->
                    <div class="mb-3">
                      <label for="sex" class="form-label">Sex</label>
                      <select class="form-select " id="sex" name="sex" required>
                        <option value="" hidden>Choose...</option>
                        <option value="male" <%=userProfile.gender==='male' ? 'selected' : '' %>
                          >Male</option>
                        <option value="female" <%=userProfile.gender==='female' ? 'selected' : '' %>
                          >Female</option>

                          <option value="other" <%=userProfile.gender==='other' ? 'selected' : '' %>>Other</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
  
                    <!-- Civil Status Field -->
  
  
  
                    <!-- Nationality Field -->
                    <div class="mb-3">
                      <label for="nationality" class="form-label">Nationality</label>
                      <input type="text" class="form-control" id="nationality" name="nationality" value="Filipino"
                        required>
                    </div>
  
                  </div>
                  <div class="col-lg-6">
  
                    <!-- Languages Spoken Field -->
                    <div class="mb-3">
                      <label for="languages" class="form-label">Languages and Dialects Spoken</label>
                      <input type="text" class="form-control" id="languages" name="languages" required>
                    </div>
                  </div>
                </div>
  
  
  
  
                <!-- Learning Objectives -->
                <h4>Learning Objectives</h4>
  
                <div class="mb-3">
                  <label for="first_priority" class="form-label">First Priority Degree Program</label>
                  <select class="form-control" id="first_priority" name="first_priority">
                    <option value="" hidden selected>Choose Program</option>
                    <option value="Civil/Drafting Technology">Civil/Drafting Technology</option>
                    <option value="Computer Technology">Computer Technology</option>
                    <option value="Electronics Technology">Electronics Technology</option>
                    <option value="Electrical Technology">Electrical Technology</option>
                    <option value="Food Technology">Food Technology</option>
                    <option value="Garments Technology">Garments Technology</option>
                    <option value="Refrigeration and Air-con Technology">Refrigeration and Air-con Technology</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="second_priority" class="form-label">Second Priority Degree Program</label>
                  <select class="form-control" id="second_priority" name="second_priority">
                    <option value="" hidden selected>Choose Program</option>
                    <option value="Civil/Drafting Technology">Civil/Drafting Technology</option>
                    <option value="Computer Technology">Computer Technology</option>
                    <option value="Electronics Technology">Electronics Technology</option>
                    <option value="Electrical Technology">Electrical Technology</option>
                    <option value="Food Technology">Food Technology</option>
                    <option value="Garments Technology">Garments Technology</option>
                    <option value="Refrigeration and Air-con Technology">Refrigeration and Air-con Technology</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="third_priority" class="form-label">Third Priority Degree Program</label>
                  <select class="form-control" id="third_priority" name="third_priority">
                    <option value="" hidden selected>Choose Program</option>
                    <option value="Civil/Drafting Technology">Civil/Drafting Technology</option>
                    <option value="Computer Technology">Computer Technology</option>
                    <option value="Electronics Technology">Electronics Technology</option>
                    <option value="Electrical Technology">Electrical Technology</option>
                    <option value="Food Technology">Food Technology</option>
                    <option value="Garments Technology">Garments Technology</option>
                    <option value="Refrigeration and Air-con Technology">Refrigeration and Air-con Technology</option>
                  </select>
                </div>
  
  
                <div class="mb-3">
                  <label for="cost_accreditation" class="form-label">Who will pay for the cost of obtaining your
                    accreditation?</label>
                  <input class="form-control" id="cost_accreditation" name="cost_accreditation">
                </div>
  
                <div class="mb-3">
                  <label for="time_commitment" class="form-label">How soon do you need to complete
                    accreditation/equivalency?</label>
                  <input class="form-control" id="time_commitment" name="time_commitment">
                </div>
  
  
                <!-- Lifelong Learning Experiences -->
                <h4>II. Lifelong Learning Experiences</h4>
  
                <div class="mb-3">
                  <label for="hobbies_leisure" class="form-label">A. Hobbies/Leisure Activities</label>
                  <br><small>Include only those leisure activities which can be considered learning opportunities.</small>
                  <textarea class="form-control" id="hobbies_leisure" name="hobbies_leisure" rows="5"></textarea>
                </div>
                <div class="mb-3">
                  <label for="special_skills" class="form-label">B. Special Skills</label>
                  <br><small>A special skill can be considered as an acceptable substitute for a specific credit
                    requirement. Note down those special skills which you think must be related to the field of study you
                    want to pursue.</small>
                  <textarea class="form-control" id="special_skills" name="special_skills" rows="5"></textarea>
                </div>
  
                <div class="mb-3">
                  <label for="work_related_activities" class="form-label">C. Work-Related Activities</label>
                  <br><small>Some work-work related activities are occasions for you to learn something new. Identify
                    those tasks that can be considered as new and through which you learned new skills and knowledge.
                    Please do not include, under this category, formal training. However, you may include here experiences
                    which can be classified as on-the-job-training or apprenticeship.</small>
                  <textarea class="form-control" id="work_related_activities" name="work_related_activities"
                    rows="5"></textarea>
                </div>
  
                <div class="mb-3">
  
                  <label for="volunteer_activities" class="form-label">D. Volunteer Activities</label>
                  <br><small>Choose only volunteer activities that also demonstrate learning opportunities.</small>
                  <textarea class="form-control" id="volunteer_activities" name="volunteer_activities"
                    rows="5"></textarea>
                </div>
  
                <div class="mb-3">
                  <label for="travels" class="form-label">E. Travels (CITE PLACES VISITED AND PURPOSE OF TRAVEL)</label>
                  <br><small>Please enumerate places visited within and outside the Philippines. Include a write-up of the
                    nature of the travel undertaken, whether for leisure, employment, businesses or other purpose. State
                    in clear turns what new learning experience was obtained from this travels and how it helps you become
                    a better person.</small>
                  <textarea class="form-control" id="travels" name="travels" rows="5"></textarea>
                </div>
                <!-- Education -->
                <h4>III. Education</h4>
  
  
                <div class="mb-3">
                  <label for="qualification" class="form-label">Educational Qualification</label>
                  <select id="qualification" name="qualification" class="form-control">
                    <option value=""  selected>Select Educational Qualification</option>
                    <option value="High School Graduate">High School Graduate</option>
                    <option value="One Year College">One Year College</option>
                    <option value="Two Years College">Two Years College/Graduate of Vocational/Technical Course of two
                      years</option>
                    <option value="Three Years College">Three Years College</option>
                    <option value="College Degree Holder">College Degree Holder</option>
                  </select>
                </div>
  
                <!-- Name of School -->
                <div class="mb-3">
                  <label for="school_name" class="form-label">Name of School</label>
                  <input type="text" class="form-control" id="school_name" name="school_name" required>
                </div>
  
                <!-- Address of School -->
                <div class="mb-3">
                  <label for="school_address" class="form-label">Address of School</label>
                  <input type="text" class="form-control" id="school_address" name="school_address" required>
                </div>
  
                <!-- Date First Attended -->
                <div class="mb-3">
                  <label for="date_first_attended" class="form-label">Date First Attended</label>
                  <input type="date" class="form-control " id="date_first_attended" name="date_first_attended" required>
                </div>
  
                <!-- Date Last Attended -->
                <div class="mb-3">
                  <label for="date_last_attended" class="form-label">Date Last Attended</label>
                  <input type="date" class="form-control " id="date_last_attended" name="date_last_attended" required>
                </div>
  
                <!-- Copy of TOR/Form 137 -->
                <div class="mb-3">
                  <label for="tor_file" class="form-label">Copy of TOR/Form 137</label>
                  <input type="file" class="form-control" id="tor_file" name="tor_file" accept=".pdf" required multiple>
                </div>
  
                <h4>IV. Work Experiences</h4>
                <div id="ordinary_employee_fields" class="input-fields">
                  <div class="row mb-3">
                    <div class='col-sm-2'>
                      <label for='job_title' class='form-label'>Job Title</label>
                      <select name='job_title[0]' class='form-control' required>
                        <option value="" hidden selected>Select Job Title</option>
                        <option value='Ordinary Employee'>Ordinary Employee/Regular Employee</option>
                        <option value='Supervisor'>Supervisor</option>
                        <option value='Head Manager'>Head/Manager</option>
                      </select>
                    </div>
                
                    <div class='col-sm-2'>
                      <label for='company_name_work' class='form-label'>Company Name</label>
                      <input type='text' class='form-control' name='company_name_work[0]' required>
                    </div>
                
                    <div class='col-sm-2'>
                      <label for='company_address_work' class='form-label'>Company Address</label>
                      <input type='text' class='form-control' name='company_address_work[0]' required>
                    </div>
                
                    <div class='col-sm-3'>
                      <label for='date_started_end_work' class='form-label'>Date Started and End</label>
                      <input type='text' class='form-control date-range' name='date_started_end_work[0]' required>
                    </div>
                
                    <div class="col-sm-3">
                      <label for="employment_file_work" class="form-label">Certificate of Employment</label>
                      <input type="file" class="form-control" name="employment_file_work[0]" accept=".pdf" required />
                    </div> 
                  </div>
                
                  <!-- Dynamic Fields Section -->
                  <div id="dynamic_fields_container"></div>
                
                  <!-- Add Button -->
                  <div class="mb-3">
                    <button type="button" class="btn btn-primary" id="add_field_button">Add Another Work Experience</button>
                  </div>
                </div>
                <h4>V. PROFESSIONAL ACHIEVEMENTS</h4>
  
  
                <!-- Level of Training/Seminar -->
                <h6>A. Trainings and Seminars</h6>
                <div id="trainings_seminars_fields" class="input-fields">
                  <div class="row mb-3">
                    <div class='col-sm-2'>
                      <label for='training_level' class='form-label'>Level of Training/Seminar</label>
                      <select id="training_level" name="training_level[0]" class="form-control" required>
                        <option value="" selected>Select Level of Training/Seminar</option>
                        <option value="Local/Regional">Local/Regional</option>
                        <option value="National">National</option>
                        <option value="International">International</option>
                      </select>
                    </div>
                
                    <div class='col-sm-2'>
                      <label for='training_title' class='form-label'>Title of Training/Seminar</label>
                      <input type='text' class='form-control' id='training_title' name='training_title[0]' required>
                    </div>
                
                    <div class='col-sm-2'>
                      <label for='training_sponsor' class='form-label'>Sponsoring Organization</label>
                      <input type='text' class='form-control' id='training_sponsor' name='training_sponsor[0]' required>
                    </div>
                
                    <div class='col-sm-3'>
                      <label for='training_date' class='form-label'>Inclusive Date</label>
                      <input type='text' class='form-control' id='training_date' name='training_date[0]' required >
                    </div>
                
                    <div class="col-sm-3">
                      <label for="training_certificate" class="form-label">Copy of Certificate Obtained</label>
                      <input type="file" class="form-control" id="training_certificate" name="training_certificate[0]" accept=".pdf" required />
                    </div>
                  </div>
                
                </div>

                <!-- Dynamic Fields Section -->
                <div id="dynamic_trainings_seminars_container"></div>

                <!-- Add Button -->
                <div class="mb-3">
                  <button type="button" class="btn btn-primary" id="add_training_field_button">Add Another Training/Seminar</button>
                </div>
                <h6>B. Professional Development</h6>

                <!-- Professional Development Fields -->
                <div id="professional_dev_fields" class="input-fields">
                  <div class="row mb-3">
                    <!-- Level of Development -->
                    <div class='col-sm-3'>
                      <label for='professional_dev_level' class='form-label'>Level</label>
                      <select id="professional_dev_level" name="professional_dev_level[0]" class="form-control" required>
                        <option value="" hidden selected>Select Level</option>
                        <option value="Local/Regional">Local/Regional</option>
                        <option value="National">National</option>
                        <option value="International">International</option>
                      </select>
                    </div>
                
                    <!-- Name of Organization/Scholarship -->
                    <div class='col-sm-3'>
                      <label for='organization_dev' class='form-label'>Name of Organization/Scholarship</label>
                      <input type='text' class='form-control' id='organization_dev' name='organization_dev[0]' required>
                    </div>
                
                    <!-- Description -->
                    <div class='col-sm-3'>
                      <label for='description_dev' class='form-label'>Description</label>
                      <input class='form-control' id='description_dev' name='description_dev[0]' required>
                    </div>
                
                    <!-- Copy of Certificate -->
                    <div class='col-sm-3'>
                      <label for='certificate_file_dev' class='form-label'>Copy of Certificate</label>
                      <input type='file' class='form-control' id='certificate_file_dev' name='certificate_file_dev[0]' accept='.pdf' required>
                    </div>
                  </div>
                
                  <!-- Dynamic Fields Section -->
                  <div id="dynamic_professional_dev_fields_container"></div>
                
                  <!-- Add Button -->
                  <div class="mb-3">
                    <button type="button" class="btn btn-primary" id="add_professional_dev_field_button">Add Another</button>
                  </div>
                </div>
                
  
              
             
                <h6>C. Eligibilities/Awards</h6>

             
                
                <!-- Sub-Professional Eligibility Details -->
                <div id="sub_professional_fields" class="input-fields" >
                  <h6>CSC Sub-Professional Details (If Applicable)</h6>
                  <div class="mb-3">
                  
                    <input type="file" class="form-control" id="certificate_file_sub_professional" name="certificate_file_sub_professional" accept=".pdf" >
                  </div>
                </div>
                
                <!-- Technical (NC) Eligibility Details -->
                <div id="technical_nc_fields" class="input-fields">
                  <h6>Technical (NC) Details (If Applicable)</h6>
                  <div class="mb-3">
                
                    <input type="file" class="form-control" id="certificate_file_technical_nc" name="certificate_file_technical_nc" accept=".pdf" >
                  </div>
                </div>
                
                <!-- Professional (PRC) (CSC) Eligibility Details -->
                <div id="professional_prc_csc_fields" class="input-fields">
                  <h6>Professional (PRC) (CSC) Details (If Applicable)</h6>
                  <div class="mb-3">
 
                    <input type="file" class="form-control" id="certificate_file_professional_prc_csc" name="certificate_file_professional_prc_csc" accept=".pdf" >
                  </div>
                </div>
                
               
                <div id="local_regional_fields_award" class="input-fields">
                  <div class="row mb-3">
                    <!-- Award Level -->
                    <div class='col-sm-3'>
                      <label for='award_level' class='form-label'>Awards</label>
                      <select id="award_level" name="award_level[0]" class="form-control" required>
                        <option value="" hidden selected>Select Award Level</option>
                        <option value="Local/Regional">Local/Regional</option>
                        <option value="National/International">National/International</option>
                      </select>
                    </div>
                
                    <!-- Copy of Certificate -->
                    <div class='col-sm-4'>
                      <label for='certificate_file_award' class='form-label'>Copy of Certificate</label>
                      <input type='file' class='form-control' id='certificate_file_award' name='certificate_file_award[0]' accept='.pdf' required>
                    </div>
                  </div>
                
                  <!-- Dynamic Fields Section -->
                  <div id="dynamic_local_regional_award_fields_container"></div>
                
                  <!-- Add Button -->
                  <div class="mb-3">
                    <button type="button" class="btn btn-primary" id="add_local_regional_award_button">Add Another Award</button>
                  </div>
                </div>

                <h4>VI. Essay</h4>
                <div class="mb-3">
                  <label for="final_essay" class="form-label">If you finish your degree, how will this contribute to your personal development to the development of your community, your work place, society and country?</label>
                  <textarea class="form-control" id="final_essay" name="final_essay" rows="5"></textarea>
                </div>
  
                <button type="submit" class="btn btn-primary" id="submit-button"><span
                    class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"
                    style="display: none;"></span>Submit</button>
              </form>
            </div>
        </div>
    </div>
</div>


<%block('script').append(`
<script>

    (function () {
"use strict";

class DocumentUpload {
static initValidation() {
// Initialize jQuery validation
jQuery(".applicationForm").validate({
    rules: {
        name: {
        required: true,
        minlength: 3,
      },
      address: {
        required: true,
      },
      zip_code: {
        digits: true,
        minlength: 4,
        maxlength: 6,
        required: true,
      },
      phonenumber: {
        required: true,
        minlength: 11,
        digits: true,
      },
      email: {
        required: true,
        email: true,
      },
      birth_date: {
        required: true,
      },
      birthplace: {
        required: true,
      },
      civil_status: {
        required: true,
      },
      sex: {
        required: true,
      },
      nationality: {
        required: true,
      },
      languages: {
        required: true,
      },
      first_priority: {
        required: true,
      },
      second_priority: {
        required: true,
      },
      third_priority: {
        required: true,
      },
      goal_statement: {
        required: true,
        minlength: 10,
      },
      time_commitment: {
        required: true,
      
      },
      elementary_school: {
        required: true,
      },
      elementary_dates: {
        required: true,
      },
      high_school: {
        required: true,
      },
      high_school_dates: {
        required: true,
      },
      post_secondary: {
        required: true,
      },
      post_secondary_institution: {
        required: true,
      },
      non_formal_training: {
        required: true,
      },
      work_position: {
        required: true,
      },
      work_dates: {
        required: true,
      },
      company_name: {
        required: true,
      },
      award_academic: {
        required: true,
      },
      award_community: {
        required: true,
      },
      award_work: {
        required: true,
      },
      creative_works: {
        required: true,
      },
      hobbies_leisure: {
        required: true,
      },
      special_skills: {
        required: true,
      },
      work_related_activities: {
        required: true,
      },
      volunteer_activities: {
        required: true,
      },
      travels: {
        required: true,
      },
      final_essay: {
        required: true,
        minlength: 20,
      },
      qualification: {
        required: true,
      },cost_accreditation: {
        required: true,
      }

    },
    messages: {
        name: {
        required: "Please enter your full name.",
        minlength: "Name must be at least 3 characters long.",
      },
      address: {
        required: "Please enter your address.",
      },
      zip_code: {
        required: "Please enter your zip code.",
        digits: "Please enter only numbers for the zip code.",
        minlength: "Zip code must be at least 4 digits.",
        maxlength: "Zip code must not exceed 6 digits.",
      },
      phonenumber: {
        required: "Please enter your phone number.",
        minlength: "Phone number must be at least 11 digits.",
        digits: "Please enter a valid phone number.",
      },
      email: {
        required: "Please enter your email.",
        email: "Please enter a valid email address.",
      },
      birth_date: {
        required: "Please enter your birth date.",
      },
      birthplace: {
        required: "Please enter your birthplace.",
      },
      civil_status: {
        required: "Please select your civil status.",
      },
      sex: {
        required: "Please select your gender.",
      },
      nationality: {
        required: "Please enter your nationality.",
      },
      languages: {
        required: "Please enter the languages you speak.",
      },
      goal_statement: {
        minlength: "Your goal statement must be at least 10 characters long.",
      },
      time_commitment: {
        minlength: "Your time commitment must be at least 10 characters long.",
      },
      final_essay: {
        minlength: "Your final essay must be at least 20 characters long.",
      },
      qualification: {
        required: "Please select your qualification.",
      }
    },
    submitHandler: function (form) {
        const submitButton =
            document.getElementById("submit-button");
        const spinner =
            submitButton.querySelector(".spinner-border");

        // Show spinner and disable button
        spinner.style.display = "inline-block";
        submitButton.disabled = true;

        // Change button text to 'Uploading...'
        submitButton.innerHTML =
            '<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>Submitting...';

        const formData = new FormData(form); // Collect form data
        // Show loader or header loader (custom logic can be added here)

        // Send the FormData directly
        fetch("/submit-application", {
            method: "POST",
            body: formData, // Send FormData containing file
        })
            .then((response) => response.json())
            .then((data) => {
                spinner.style.display = "none";
                submitButton.disabled = false;
                submitButton.innerHTML =
                    '<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="display: none;"></span>Submit';
                // Hide loader or header loader (custom logic can be added here)
                if (data.success) {
                    // Reset the form

                    $.notify(
                        {
                            icon: "fa fa-check me-1",
                            message: data.message,
                        },
                        {
                            type: "success",
                            allow_dismiss: false,
                        }
                    );

                    // Delay the reload to allow the notification to be seen
                    setTimeout(() => {
                        window.location.href = '/application'; // Reload the current page
                    }, 2500); // Adjust delay as needed
                } else {
                    $.notify(
                        {
                            icon: "fa fa-times-circle me-1",
                            message: data.message,
                        },
                        {
                            type: "danger",
                            allow_dismiss: false,
                        }
                    );
                }
            })
            .catch((error) => {
                spinner.style.display = "none";
                submitButton.disabled = false;
                submitButton.innerHTML =
                    '<span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true" style="display: none;"></span>Submit';
                // Hide loader or header loader (custom logic can be added here)
                $.notify(
                    {
                        icon: "fa fa-times-circle me-1",
                        message:
                            "An error occurred. Please try again.",
                    },
                    {
                        type: "danger",
                        allow_dismiss: false,
                    }
                );
                console.error("Error:", error);
            });
    },
});
}

static init() {
this.initValidation();
}
}

// Call init function on document ready
$(document).ready(() => DocumentUpload.init());
})();

</script>
<script>
    // Get references to the elements
    const dropzone = document.getElementById("dropzone");
    const fileInput = document.getElementById("fileInput");
    const filePreviewContainer = document.getElementById("filePreviewContainer");

    // Allow clicking the dropzone to open the file input
    dropzone.addEventListener("click", () => fileInput.click());

    // Handle file selection
    fileInput.addEventListener("change", () => {
        const files = fileInput.files;
        handleFiles(files);
    });

    // Handle dropping files onto the dropzone
    dropzone.addEventListener("dragover", (event) => {
        event.preventDefault();
    });

    dropzone.addEventListener("drop", (event) => {
        event.preventDefault();
        const files = event.dataTransfer.files;
        handleFiles(files);
    });

    // Function to handle files
    function handleFiles(files) {
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const listItem = createFilePreview(file);
            filePreviewContainer.appendChild(listItem);
        }
    }

    // Create file preview card
    function createFilePreview(file) {
        const card = document.createElement("div");
        card.className = "card mb-1 mb-0 shadow-none border file-preview-card";

        // Create a thumbnail (replace this with actual file icons if needed)
        const thumbnail = document.createElement("div");
        thumbnail.className = "avatar-sm";
        thumbnail.innerHTML = '<span class="avatar-title bg-primary-subtle text-primary rounded">' + file.name.split('.').pop().toUpperCase() + '</span>';


        card.innerHTML =
            '<div class="p-2">' +
            '<div class="row align-items-center">' +
            '<div class="col-auto">' +
            thumbnail.outerHTML +
            '</div>' +
            '<div class="col ps-0">' +
            '<a href="javascript:void(0);" class="text-muted fw-bold">' + file.name + '</a>' +
            '<p class="mb-0"><strong>' + (file.size / 1024).toFixed(2) + '</strong> KB</p>' +
            '</div>' +
            '<div class="col-auto">' +
            '<a href="javascript:void(0);" class="btn btn-link btn-lg text-muted" onclick="deleteFile(this)">' +
            '<i class="ri-close-line"></i>' +
            '</a>' +
            '</div>' +
            '</div>' +
            '</div>';

        return card;
    }

    // Function to delete file preview
    function deleteFile(button) {
        const card = button.closest('.file-preview-card');
        filePreviewContainer.removeChild(card);
    }
</script>
<script>
    $("#training_date").flatpickr({
    mode: "range"
})
$("#date_national").flatpickr({
    mode: "range"
})
$("#date_international").flatpickr({
    mode: "range"
})
$(".date-range").flatpickr({
    mode: "range"
})
</script>
`)%>

<script>
  
  
  // Counter for dynamic fields
  let fieldCounter = 1;
  
  // JavaScript to dynamically add and remove input fields
  document.getElementById('add_field_button').addEventListener('click', function() {
    // Check if the current number of fields is less than the maximum allowed (5)
    if (fieldCounter < 5) {
      // Create a new div for the dynamic field set
      const newFieldSet = document.createElement('div');
      newFieldSet.classList.add('dynamic_field', 'my-3');
  
      // Create the HTML structure for the new field set with indexed names
      newFieldSet.innerHTML = `
        <div class="row mb-3">
          <div class='col-sm-2'>
            <label for='job_title' class='form-label'>Job Title</label>
            <select name='job_title[${fieldCounter}]' class='form-control' required>
              <option value="" hidden selected>Select Job Title</option>
              <option value='Ordinary Employee'>Ordinary Employee/Regular Employee</option>
              <option value='Supervisor'>Supervisor</option>
              <option value='Head Manager'>Head/Manager</option>
            </select>
          </div>
  
          <div class='col-sm-2'>
            <label for='company_name_work' class='form-label'>Company Name</label>
            <input type='text' class='form-control' name='company_name_work[${fieldCounter}]' required>
          </div>
  
          <div class='col-sm-2'>
            <label for='company_address_work' class='form-label'>Company Address</label>
            <input type='text' class='form-control' name='company_address_work[${fieldCounter}]' required>
          </div>
  
          <div class='col-sm-3'>
            <label for='date_started_end_work' class='form-label'>Date Started and End</label>
            <input type='text' class='form-control date-range' name='date_started_end_work[${fieldCounter}]' required>
          </div>
  
          <div class="col-sm-3">
            <label for="employment_file_work" class="form-label">Certificate of Employment</label>
            <input type="file" class="form-control" name="employment_file_work[${fieldCounter}]" accept=".pdf" required />
          </div> 
          
          <!-- Remove Button -->
          <div>
            <button type="button" class="btn btn-danger remove_field_button mt-2">Remove</button> 
          </div>
        </div>  
      `;
  
      // Append the new field set to the container
      document.getElementById('dynamic_fields_container').appendChild(newFieldSet);
  
      // Initialize Flatpickr on the newly added date input
      flatpickr(newFieldSet.querySelector(".date-range"), {
        mode: "range",
      });
  
      // Increment the counter for the next field
      fieldCounter++;
  
      // Add event listener to the remove button
      newFieldSet.querySelector('.remove_field_button').addEventListener('click', function() {
        newFieldSet.remove();
        fieldCounter--; // Decrement counter when a field is removed
      });
    } else {
      alert("You can only add a maximum of 5 entries.");
    }
  });
  
  // Optional: Add remove functionality to the initially created fields
  const initialRemoveButtonsWork = document.querySelectorAll('.remove_field_button');
  initialRemoveButtonsWork.forEach(button => {
    button.addEventListener('click', function() {
      button.closest('.dynamic_field').remove();
    });
  });
  </script>
  <script>
    // Counter for dynamic fields
let trainingFieldCounter = 1;

// JavaScript to dynamically add and remove input fields
document.getElementById('add_training_field_button').addEventListener('click', function() {
  // Check if the current number of fields is less than the maximum allowed (5)
  if (trainingFieldCounter < 5) {
    // Create a new div for the dynamic field set
    const newFieldSet = document.createElement('div');
    newFieldSet.classList.add('dynamic_field', 'my-3');

    // Create the HTML structure for the new field set with indexed names
    newFieldSet.innerHTML = `
     <div class="row mb-3">
      <div class="col-sm-2">
        <label for="training_level" class="form-label">Level of Training/Seminar</label>
        <select name="training_level[${trainingFieldCounter}]" class="form-control" required>
          <option value="" selected>Select Level of Training/Seminar</option>
          <option value="Local/Regional">Local/Regional</option>
          <option value="National">National</option>
          <option value="International">International</option>
        </select>
      </div>

      <div class="col-sm-2">
        <label for="training_title" class="form-label">Title of Training/Seminar</label>
        <input type="text" class="form-control" name="training_title[${trainingFieldCounter}]" required>
      </div>

      <div class="col-sm-2">
        <label for="training_sponsor" class="form-label">Sponsoring Organization</label>
        <input type="text" class="form-control" name="training_sponsor[${trainingFieldCounter}]" required>
      </div>

      <div class="col-sm-3">
        <label for="training_date" class="form-label">Inclusive Date</label>
        <input type="text" class="form-control date-range" name="training_date[${trainingFieldCounter}]" required >
      </div>

      <div class="col-sm-3">
        <label for="training_certificate" class="form-label">Copy of Certificate Obtained</label>
        <input type="file" class="form-control" name="training_certificate[${trainingFieldCounter}]" accept=".pdf" required>
      </div>

      <!-- Remove Button -->
      <div>
        <button type="button" class="btn btn-danger remove_field_button mt-2">Remove</button>
      </div>
    </div>
    `;

    // Append the new field set to the container
    document.getElementById('dynamic_trainings_seminars_container').appendChild(newFieldSet);

    // Initialize Flatpickr on the newly added date input
    flatpickr(newFieldSet.querySelector(".date-range"), {
      mode: "range",
    });

    // Increment the counter for the next field
    trainingFieldCounter++;

    // Add event listener to the remove button
    newFieldSet.querySelector('.remove_field_button').addEventListener('click', function() {
      newFieldSet.remove();
      trainingFieldCounter--; // Decrement counter when a field is removed
    });
  } else {
    alert("You can only add a maximum of 5 entries.");
  }
});

// Optional: Add remove functionality to the initially created fields
const initialRemoveButtonsTraining = document.querySelectorAll('.remove_field_button');
initialRemoveButtonsTraining.forEach(button => {
  button.addEventListener('click', function() {
    button.closest('.dynamic_field').remove();
  });
});




  </script>
  <script>
    // Counter for dynamic professional development fields
    let professionalDevFieldCounter = 1;
    
    // JavaScript to dynamically add and remove professional development fields
    document.getElementById('add_professional_dev_field_button').addEventListener('click', function() {
      // Check if the current number of fields is less than the maximum allowed (5)
      if (professionalDevFieldCounter < 5) {
        // Create a new div for the dynamic field set
        const newFieldSet = document.createElement('div');
        newFieldSet.classList.add('dynamic_field', 'my-3');
  
        // Create the HTML structure for the new professional development field set with indexed names
        newFieldSet.innerHTML = `
          <div class="row mb-3">
            <div class='col-sm-3'>
              <label for='professional_dev_level' class='form-label'>Level</label>
              <select name='professional_dev_level[${professionalDevFieldCounter}]' class='form-control' required>
                <option value="" hidden selected>Select Level</option>
                <option value="Local/Regional">Local/Regional</option>
                <option value="National">National</option>
                <option value="International">International</option>
              </select>
            </div>
  
            <div class='col-sm-3'>
              <label for='organization_dev' class='form-label'>Name of Organization/Scholarship</label>
              <input type='text' class='form-control' name='organization_dev[${professionalDevFieldCounter}]' required>
            </div>
  
            <div class='col-sm-3'>
              <label for='description_dev' class='form-label'>Description</label>
              <input class='form-control' name='description_dev[${professionalDevFieldCounter}]' required>
            </div>
  
            <div class='col-sm-3'>
              <label for='certificate_file_dev[0]' class='form-label'>Copy of Certificate</label>
              <input type='file' class='form-control' name='certificate_file_dev[${professionalDevFieldCounter}]' accept='.pdf' required>
            </div>
  
            <!-- Remove Button -->
            <div class="col-sm-3">
              <button type="button" class="btn btn-danger remove_field_button mt-2">Remove</button>
            </div>
          </div>
        `;
  
        // Append the new field set to the container
        document.getElementById('dynamic_professional_dev_fields_container').appendChild(newFieldSet);
  
        // Increment the counter for the next field
        professionalDevFieldCounter++;
  
        // Add event listener to the remove button
        newFieldSet.querySelector('.remove_field_button').addEventListener('click', function() {
          newFieldSet.remove();
          professionalDevFieldCounter--; // Decrement counter when a field is removed
        });
      } else {
        alert("You can only add a maximum of 5 entries.");
      }
    });
  
    // Optional: Add remove functionality to the initially created fields
    const initialRemoveButtonsProfessional = document.querySelectorAll('.remove_field_button');
    initialRemoveButtonsProfessional.forEach(button => {
      button.addEventListener('click', function() {
        button.closest('.dynamic_field').remove();
      });
    });
  </script>

<script>
  // Counter for dynamic award fields
  let localRegionalAwardCounter = 1;

  // JavaScript to dynamically add and remove local/regional award fields
  document.getElementById('add_local_regional_award_button').addEventListener('click', function() {
    // Check if the current number of fields is less than the maximum allowed (5)
    if (localRegionalAwardCounter < 5) {
      // Create a new div for the dynamic field set
      const newFieldSet = document.createElement('div');
      newFieldSet.classList.add('dynamic_field', 'my-3');

      // Create the HTML structure for the new award field set with indexed names
      newFieldSet.innerHTML = `
        <div class="row mb-2">
          <div class='col-sm-3'>
            <label for='award_level' class='form-label'>Award Level</label>
            <select name='award_level[${localRegionalAwardCounter}]' class='form-control' required>
              <option value="" hidden selected>Select Award Level</option>
              <option value="Local/Regional">Local/Regional</option>
              <option value="National/International">National/International</option>
            </select>
          </div>

          <div class='col-sm-4'>
            <label for='certificate_file_award' class='form-label'>Copy of Certificate</label>
            <input type='file' class='form-control' name='certificate_file_award[${localRegionalAwardCounter}]' accept='.pdf' required>
          </div>

         
        </div>
        <button type="button" class="btn btn-danger remove_field_button">Remove</button>
      `;

      // Append the new field set to the container
      document.getElementById('dynamic_local_regional_award_fields_container').appendChild(newFieldSet);

      // Increment the counter for the next field
      localRegionalAwardCounter++;

      // Add event listener to the remove button
      newFieldSet.querySelector('.remove_field_button').addEventListener('click', function() {
        newFieldSet.remove();
        localRegionalAwardCounter--; // Decrement counter when a field is removed
      });
    } else {
      alert("You can only add a maximum of 5 awards.");
    }
  });

  // Optional: Add remove functionality to the initially created fields
  const initialRemoveButtonsAwards = document.querySelectorAll('.remove_field_button');
  initialRemoveButtonsAwards.forEach(button => {
    button.addEventListener('click', function() {
      button.closest('.dynamic_field').remove();
    });
  });
</script>