<% layout('./Layout/layout.ejs') -%>
    <% block('head').append(` <link href="/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
        rel="stylesheet" type="text/css" />
    <link href="/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link href="/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    `) %>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box justify-content-between d-flex align-items-md-center flex-md-row flex-column">
                <h4 class="page-title">
                    <%=pagetitle%>
                </h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/assessor/home">For Evaluation</a></li>
             
                    <li class="breadcrumb-item active">Current</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <% if (usersEvaluation.length > 0) { %>
                        <form action="/assessor/evaluation/update" method="POST" class="evaluation-validation">
                            <input type="hidden" name="application_id" value="<%= application.id %>">
                            <h4>Edit Evaluation</h4>
                    <% } else { %>
                        <form action="/assessor/evaluation" method="POST" class="evaluation-validation">
                            <input type="hidden" name="application_id" value="<%= application.id %>">
                            <h4>Create Evaluation</h4>
                    <% } %>
                    <div class="applicationForm">
                        

                          <!-- Education -->
                          <h4>EDUCATION</h4>
                          <!-- Educational Qualifications -->
                          <h6>A. Educational Qualifications</h6>
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th>Educational Qualification</th>
                                      <th>Name of School</th>
                                      <th>Address</th>
                                      <th>Date First Attended</th>
                                      <th>Date Last Attended</th>
                                      <th>Copy of TOR/Form 137</th>
                                      <th>Points</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td><%=application.qualification%></td> <!-- Replace with the actual qualification level -->
                                      <td>
                                          <%= application.school_name || 'N/A' %>
                                      </td>
                                      <td>
                                          <%= application.school_address || 'N/A' %>
                                      </td>
                                      <td>
                                          <%= application.date_first_attended ? new
                                              Date(application.date_first_attended).toLocaleDateString('en-CA')
                                              : 'N/A' %>
                                      </td>
                                      <td>
                                          <%= application.date_last_attended ? new
                                              Date(application.date_last_attended).toLocaleDateString('en-CA') : 'N/A'
                                              %>
                                      </td>
                                      <td class="align-middle">
                                          <% if (application.tor_file) { %>
                                              <div>
                                                 
                                                  <a target="_blank" href="/uploads/<%= application.tor_file %>"
                                                      class="btn btn-sm btn-primary" tabindex="-1"> 
                                                      <i class="ri-eye-line me-1"></i>View
                                                 
                                                  </a>
                                                 
                                                      <a href="/uploads/<%= application.tor_file %>"
                                                          class="btn btn-sm btn-primary" tabindex="-1" download>
                                                          <i class="ri-download-line"></i> Download
                                                      </a>
                                               
                                              </div>
                                              <% } else { %>
                                                  <span class="text-muted">No document uploaded.</span>
                                                  <% } %>
                                      </td>
                                      <td>
                                    
                                              <input type="number"  value="<%=usersEvaluationHistory[0]?.education_points || ''%>"  name="education_points" id="education_points" class="form-control" min="0" max="20"  />
                                
                                      </td>

                                  </tr>
                                  <!-- Additional rows for more educational qualifications can be added here -->
                              </tbody>
                          </table>


                          <h4>WORK EXPERIENCES</h4>


                          <div id="ordinary_employee_fields" class="input-fields">

                              <table class="table table-bordered">
                                  <thead>
                                      <tr>
                                          <th>Position/Job Title</th>
                                          <th>Company Name</th>
                                          <th>Address</th>
                                          <th>Date Started and Ended</th>

                                          <th>Copy of Certificate of Enrollment</th>
                                          <th>Points</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <% if (workExperience && workExperience.length> 0) { %>
                                          <% workExperience.forEach(function(emp, index) { %>
                                              <tr>
                                                  <td>
                                                      <%= emp.job_title || 'Ordinary Employee' %>
                                                          <!-- Display job title -->
                                                  </td>
                                                  <td>
                                                      <%= emp.company_name || '' %> <!-- Display company name -->
                                                  </td>
                                                  <td>
                                                      <%= emp.company_address || '' %>
                                                          <!-- Display company address -->
                                                  </td>

                                                  <td>
                                                      <%= emp.date_started_end || '' %> <!-- Display end date -->
                                                  </td>
                                                  <td>
                                                      <% if (emp.employment_file) { %>
                                                          <!-- Check if there is a file -->
                                                          <a target="_blank" href="/uploads/<%= emp.employment_file %>"
                                                              class="btn btn-sm btn-primary" tabindex="-1">
                                                              <i class="ri-eye-line me-1"></i>View
                                                          </a>
                                                          <a href="/uploads/<%= emp.employment_file %>"
                                                              class="btn btn-sm btn-primary" tabindex="-1" download>
                                                              <i class="ri-download-line"></i> Download
                                                          </a>
                                                          <% } else { %>
                                                              No file uploaded
                                                              <% } %>
                                                  </td>
                                                  <td>
                                               
                                                          <input type="number" value="<%=usersEvaluationHistory[0]?.work_experience_points[index] || ''%>"  name="work_experience_points[<%= index %>]" class="form-control" min="0" max="<%=(40 / workExperience.length).toFixed(0) %>" required  />
                                                  
                                                  </td>
                                              </tr>
                                              <% }) %>
                                                  <% } else { %>
                                                      <tr>
                                                          <td colspan="6">No employment records available.</td>
                                                      </tr>
                                                      <% } %>

                                  </tbody>
                              </table>

                          </div>

                          <h4>PROFESSIONAL ACHIEVEMENTS</h4>

                          <!-- Level of Training/Seminar -->
                          <h6>A. Trainings and Seminars</h6>
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th>Level</th>
                                      <th>Title of Training/Seminar</th>
                                      <th>Sponsoring Organization</th>
                                      <th>Inclusive Date</th>
                                      <th>Copy of Certificate</th>
                                      <th>Points</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% if (trainingExperience && trainingExperience.length> 0) { %>
                                      <% trainingExperience.forEach(function(training, index) { %>
                                          <tr>
                                              <td>
                                                  <%= training.training_level || 'N/A' %>
                                              </td>
                                              <td>
                                                  <%= training.training_title || 'N/A' %>
                                              </td>
                                              <td>
                                                  <%= training.training_sponsor || 'N/A' %>
                                              </td>
                                              <td>
                                                  <%= training.training_date || 'N/A' %>
                                              </td>
                                              <td>
                                                  <% if (training.training_certificate) { %>
                                                      <a target="_blank" href="/uploads/<%= training.training_certificate %>"
                                                          class="btn btn-sm btn-primary" tabindex="-1">
                                                          <i class="ri-eye-line me-1"></i> View
                                                      </a>
                                                      <a href="/uploads/<%= training.training_certificate %>"
                                                          class="btn btn-sm btn-primary" tabindex="-1" download>
                                                          <i class="ri-download-line"></i> Download
                                                      </a>
                                                      <% } else { %>
                                                          No certificate available
                                                          <% } %>
                                              </td>
                                              <td>
                                                  
                                                      <input type="number" value="<%=usersEvaluationHistory[0]?.training_points[index] || ''%>"  name="training_points[<%= index %>]" class="form-control" min="0" max="<%= training.training_level === 'International' ? 5 : training.training_level === 'National' ? 3 : training.training_level === 'Local/Regional' ? 2 : 0 %>"
                                                      required />
                                           
                                              </td>
                                          </tr>
                                          <% }) %>
                                              <% } else { %>
                                                  <tr>
                                                      <td colspan="5">No training records available.</td>
                                                  </tr>
                                                  <% } %>
                              </tbody>
                          </table>


                          <!-- Professional Development -->
                          <h6>B. Professional Development</h6>
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th>Level</th>
                                      <th>Organization</th>
                                      <th>Description</th>
                                      <th>Certificate File</th>
                                      <th>Points</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% if (professionalDevelopments && professionalDevelopments.length> 0) { %>
                                      <% professionalDevelopments.forEach(function(dev, index) { %>
                                          <tr>
                                              <td>
                                                  <%= dev.professional_dev_level || 'N/A' %>
                                              </td>
                                              <td>
                                                  <%= dev.organization_dev || 'N/A' %>
                                              </td>
                                              <td>
                                                  <%= dev.description_dev || 'N/A' %>
                                              </td>
                                              <td>
                                                  <% if (dev.certificate_file_dev) { %>
                                                      <a target="_blank" href="/uploads/<%= dev.certificate_file_dev %>"
                                                          class="btn btn-sm btn-primary" tabindex="-1">
                                                          <i class="ri-eye-line me-1"></i> View
                                                      </a>
                                                      <a href="/uploads/<%= dev.certificate_file_dev %>"
                                                          class="btn btn-sm btn-primary" tabindex="-1" download>
                                                          <i class="ri-download-line"></i> Download
                                                      </a>
                                                      <% } else { %>
                                                          No certificate available
                                                          <% } %>
                                              </td>
                                              <td>
                                         
                                                      <input type="number" value="<%=usersEvaluationHistory[0]?.professional_development_points[index] || ''%>"   name="professional_dev_points[<%= index %>]" class="form-control" min="0" max="1" required />
                                            
                                              </td>
                                          </tr>
                                          <% }) %>
                                              <% } else { %>
                                                  <tr>
                                                      <td colspan="4">No professional development records available.
                                                      </td>
                                                  </tr>
                                                  <% } %>
                              </tbody>
                          </table>


                          <h6>C. Eligibilities/Awards</h6>

                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th>Eligibility Level</th>
                                      <th>Copy of Certificate</th>
                                      <th>Points</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <!-- Sub-Professional Eligibility -->
                                  <% if(application.certificate_file_sub_professional) { %>
                                      <tr>
                                          <td>CSC Sub-Professional</td>
                                          <td>
                                              <a target="_blank" href="/uploads/<%= application.certificate_file_sub_professional %>" class="btn btn-sm btn-primary" tabindex="-1">
                                                  <i class="ri-eye-line me-1"></i>View
                                              </a>
                                              <a href="/uploads/<%= application.certificate_file_sub_professional %>" class="btn btn-sm btn-primary" tabindex="-1" download>
                                                  <i class="ri-download-line"></i> Download
                                              </a>
                                          </td>
                                          <td>
                                              
                                                  <input type="number"   value="<%=usersEvaluationHistory[0]?.eligibility_points[0] || ''%>" name="csc_points" id="csc_points" class="form-control" min="0" max="2" required >
                                         
                                          </td>
                                      </tr>
                                  <% } else { %>
                                    <input type="hidden"   value="0"  name="csc_points" id="csc_points" class="form-control" min="0" max="2" >
                                <%}%>
                                  <!-- Technical (NC) Eligibility -->
                                  <% if(application.certificate_file_technical_nc) { %>
                                      <tr>
                                          <td>Technical (NC)</td>
                                          <td>
                                              <a target="_blank" href="/uploads/<%= application.certificate_file_technical_nc %>" class="btn btn-sm btn-primary" tabindex="-1">
                                                  <i class="ri-eye-line me-1"></i>View
                                              </a>
                                              <a href="/uploads/<%= application.certificate_file_technical_nc %>" class="btn btn-sm btn-primary" tabindex="-1" download>
                                                  <i class="ri-download-line"></i> Download
                                              </a>
                                          </td>
                                          <td>
                                       
                                                  <input type="number"   value="<%=usersEvaluationHistory[0]?.eligibility_points[1] || ''%>"  name="nc_points" id="nc_points" class="form-control" min="0" max="3" required>
                                         
                                          </td>
                                      </tr>
                                  <% } else { %>
                                    <input type="hidden"   value="0"  name="nc_points" id="nc_points" class="form-control" min="0" max="3" >
                                    <%}%>
                                  <!-- Professional (PRC) (CSC) Eligibility -->
                                  <% if(application.certificate_file_professional_prc_csc) { %>
                                      <tr>
                                          <td>Professional (PRC) (CSC)</td>
                                          <td>
                                              <a target="_blank" href="/uploads/<%= application.certificate_file_professional_prc_csc %>" class="btn btn-sm btn-primary" tabindex="-1">
                                                  <i class="ri-eye-line me-1"></i>View
                                              </a>
                                              <a href="/uploads/<%= application.certificate_file_professional_prc_csc %>" class="btn btn-sm btn-primary" tabindex="-1" download>
                                                  <i class="ri-download-line"></i> Download
                                              </a>
                                          </td>
                                          <td>
                                             
                                                  <input type="number"  value="<%=usersEvaluationHistory[0]?.eligibility_points[2] || ''%>" name="prc_points" id="prc_points" class="form-control" min="0" max="5" required>
                                              
                                          </td>
                                      </tr>
                                  <% } else {%>
                                    <input type="hidden"   value="0"  name="prc_points" id="prc_points" class="form-control" min="0" max="5" >
                                  <%}%>
                              </tbody>
                          </table>
                          

                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th>Award Level</th>
                                      <th>Copy of Certificate File</th>
                                      <th>Points</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% if (awards && awards.length > 0) { %>
                                      <% awards.forEach(function(award, index) { %>
                                          <tr>
                                              <td><%= award.award_level || 'N/A' %></td>
                                              <td>
                                                  <% if (award.certificate_file_award) { %>
                                                      <a target="_blank" href="/uploads/<%= award.certificate_file_award %>" class="btn btn-sm btn-primary" tabindex="-1">
                                                          <i class="ri-eye-line me-1"></i> View
                                                      </a>
                                                      <a href="/uploads/<%= award.certificate_file_award %>" class="btn btn-sm btn-primary" tabindex="-1" download>
                                                          <i class="ri-download-line"></i> Download
                                                      </a>
                                                  <% } else { %>
                                                      No certificate available
                                                  <% } %>
                                              </td>
                                              <td>
                                  
                                                      <input type="number" value="<%=usersEvaluationHistory[0]?.award_points[index] || ''%>"  name="award_points[<%= index %>]" class="form-control" min="0" max="<%= award.award_level === 'Local/Regional' ? 2 : award.award_level === 'National/International' ? 3 : 'N/A' %>" required />
                                            
                                              </td>
                                          </tr>
                                      <% }) %>
                                  <% } else { %>
                                      <tr>
                                          <td colspan="3">No award records available.</td>
                                      </tr>
                                  <% } %>
                              </tbody>
                          </table>
                          <h4>INTERVIEW</h4>
                          <div class="mb-3">
                            <label for="interview_chief_points" class="form-label">Interview Chief Points</label>
                            <input type="number"  id="interview_chief_points" name="interview_chief_points"
                                   class="form-control" min="0" max="5" required
                                   value="<%= usersEvaluation.length > 0 ? usersEvaluation[0].interview_chief_points : '' %>">
                        </div>
                        <div class="mb-3">
                            <label for="interview_assessor_points" class="form-label">Interview Assessor Points</label>
                            <input type="number"  id="interview_assessor_points" name="interview_assessor_points"
                                   class="form-control" min="0" max="10" required
                                   value="<%= usersEvaluation.length > 0 ? usersEvaluation[0].interview_assessor_points : '' %>">
                        </div>
                    
                    </div>
                            <!-- Qualification Status Input -->
                 <div class="mb-3">
                    <div class="row align-items-start ">
                        <div class="col-1">
                            <label for="qualification_status" class="">Qualification Status</label>
                        </div>
                        <div class="col-4">
                            <input type="text" id="qualification_status" name="qualification_status" class="form-control-plaintext text-center" readonly>
                        </div>
                    </div>
                    
                
                
                </div>
                    <!-- Submit Button -->
                    <button type="submit" id="submit_button" class="btn btn-primary">
                        <% if (usersEvaluation.length > 0) { %>Update Evaluation<% } else { %>Create Evaluation<% } %>
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                 
                
                    <h4>1. Educational Qualification</h4>
                    
                    <div class="mb-3">
                        <p>Max Points: 20</p>
                    </div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">1.1 High School Graduate - 4 Points</li>
                        <li class="list-group-item">1.2 One Year College - 12 Points</li>
                        <li class="list-group-item">1.3 Two Years College / Graduate of Vocational - 12 Points</li>
                        <li class="list-group-item">1.4 Technical course of two years - 16 Points</li>
                        <li class="list-group-item">1.5 Three Years College - 20 Points</li>
                        <li class="list-group-item">1.6 College Degree Holder - 20 Points</li>
                    </ul>
                   
                
                    <h4>2. Work Experience</h4>
                    <div class="mb-3">
                        <p>Max Points: 40</p>
                    </div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">2.1 Ordinary Employee - 1 Point / year</li>
                        <li class="list-group-item">2.2 Supervisor - 2 Points / year</li>
                        <li class="list-group-item">2.3 Head/Manager - 3 Points / year</li>
                    </ul>
                
                    <h4>3. Professional Achievement</h4>
                    <div class="mb-3">
                        <p>Max Points: 25</p>
                    </div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">3.1 Training/Seminar</li>
                        <ul>
                            <li>3.1.1 Local/Regional - 2 Points</li>
                            <li>3.1.2 National - 3 Points</li>
                            <li>3.1.3 International - 5 Points</li>
                        </ul>
                        <li class="list-group-item">3.2 Professional Development</li>
                        <ul>
                            <li>3.2.1 Membership or Scholarship - 5 Points</li>
                        </ul>
                        <li class="list-group-item">3.3 Eligibility/Awards</li>
                        <ul>
                            <li>3.3.1.1 Sub-professional - 2 Points</li>
                            <li>3.3.1.2 Technical (NC, COC) - 3 Points</li>
                            <li>3.3.1.3 Professional - 5 Points</li>
                        </ul>
                    </ul>
                  
                
                    <h4>4. Interview</h4>
                    <div class="mb-3">
                        <p>Max Points: 15</p>
                    </div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">4.1 Chief of ETEEAP - 5 Points</li>
                        <li class="list-group-item">4.2 Internal Assessor - 10 Points</li>
                    </ul>
                   
                  
                </div>
             
            
            </div>
        </div>
        
    </div>


    <script>
        function calculateQualificationStatus() {
            // Get the values from the form fields
            const educationPoints = parseInt(document.getElementById('education_points').value) || 0;
            const interviewChiefPoints = parseInt(document.getElementById('interview_chief_points').value) || 0;
            const interviewAssessorPoints = parseInt(document.getElementById('interview_assessor_points').value) || 0;
            const cscPoints = parseInt(document.getElementById('csc_points').value) || 0;
            const ncPoints = parseInt(document.getElementById('nc_points').value) || 0;
            const prcPoints = parseInt(document.getElementById('prc_points').value) || 0;
    
            // Initialize arrays for each point category using querySelectorAll
            const workExperiencePoints = Array.from(document.querySelectorAll("input[name^='work_experience_points']"))
                .map(input => parseInt(input.value) || 0);
    
            const trainingPoints = Array.from(document.querySelectorAll("input[name^='training_points']"))
                .map(input => parseInt(input.value) || 0);
    
            const professionalDevPoints = Array.from(document.querySelectorAll("input[name^='professional_dev_points']"))
                .map(input => parseInt(input.value) || 0);
    
            const awardPoints = Array.from(document.querySelectorAll("input[name^='award_points']"))
                .map(input => parseInt(input.value) || 0);
    
            // Calculate the sum of points from training, professional dev, awards, and other fields
            const totalAdditionalPoints = trainingPoints.reduce((sum, value) => sum + value, 0)
                + professionalDevPoints.reduce((sum, value) => sum + value, 0)
                + awardPoints.reduce((sum, value) => sum + value, 0)
                + cscPoints
                + ncPoints
                + prcPoints;
    
            // Calculate total points from all fields
            const totalPoints = educationPoints
                + workExperiencePoints.reduce((sum, value) => sum + value, 0)
                + totalAdditionalPoints
                + interviewChiefPoints
                + interviewAssessorPoints;
    
            // Get qualification status input field
            const qualificationStatusInput = document.getElementById('qualification_status');
            const submitButton = document.getElementById('submit_button');  // Assuming you have a submit button with this id
            
            // Check if the sum of specific points exceeds 25
            if (totalAdditionalPoints > 25) {
                // Disable the submit button
                submitButton.disabled = true;
    
                // Set error message and change text color to red
                qualificationStatusInput.value = 'Error: Points exceeded limit (Check criteria below for more information)';
                qualificationStatusInput.style.color = 'red';
            } else {
                // Enable the submit button if conditions are not met
                submitButton.disabled = false;
    
                // Update qualification status based on total points
                qualificationStatusInput.value = totalPoints >= 45 ? 'Qualified' : 'Not Qualified';
                qualificationStatusInput.style.color = totalPoints >= 45 ? 'green' : 'red';
            }
    
          
        }
    
        // Use querySelectorAll for attaching event listeners to form controls
        const inputFields = [
            'education_points',
            'work_experience_points',
            'training_points',
            'professional_dev_points',
            'award_points',
            'interview_chief_points',
            'interview_assessor_points',
            'csc_points',
            'nc_points',
            'prc_points'
        ];
    
        inputFields.forEach((field) => {
            // Using querySelectorAll to attach event listeners
            const elements = document.querySelectorAll(`input[name='${field}'], input[name^='${field}']`);
            elements.forEach((element) => {
                element.addEventListener('input', calculateQualificationStatus);
            });
        });
    
        // Initial calculation on page load
        window.onload = calculateQualificationStatus;
    </script>
    
    

    <%block('script').append(` <!-- Datatable Demo Aapp js -->
        <script>

            !(function () {
                "use strict";
                class EvaluationFormValidation {
                    static initValidation() {
                        // Initialize jQuery validation
                      jQuery(".evaluation-validation").validate({
    rules: {
        education_points: {
            required: true,
            number: true,
            min: 0,
            max: 20
        },
        work_experience_points: {
            required: true,
            number: true,
            min: 0,
            max: 40
        },
        training_points: {
            required: true,
            number: true,
            min: 0,
            max: 40
        },
        professional_dev_points: {
            required: true,
            number: true,
            min: 0,
            max: 40
        },
        csc_points: {
            required: true,
            number: true,
            min: 0,
            max: 2
        },
        nc_points: {
            required: true,
            number: true,
            min: 0,
            max: 3
        },
        prc_points: {
            required: true,
            number: true,
            min: 0,
            max: 5
        },
        award_points: {
            required: true,
            number: true,
            min: 0,
            max: 40
        }
    },
    messages: {
        
    },
    submitHandler: function (form) {
        const data = {
            education_points: form.education_points.value,
            work_experience_points: [],
            training_points: [],
            professional_dev_points: [],
            award_points: [],
            csc_points: form.csc_points.value,
            nc_points: form.nc_points.value,
            prc_points: form.prc_points.value,
            interview_chief_points: form.interview_chief_points.value,
            interview_assessor_points: form.interview_assessor_points.value,
            application_id: form.application_id.value
        };
        document.querySelectorAll("input[name^='work_experience_points']").forEach(input => {
    data.work_experience_points.push(input.value);
});
document.querySelectorAll("input[name^='training_points']").forEach(input => {
    data.training_points.push(input.value);
});
document.querySelectorAll("input[name^='professional_dev_points']").forEach(input => {
    data.professional_dev_points.push(input.value);
});
document.querySelectorAll("input[name^='award_points']").forEach(input => {
    data.award_points.push(input.value);
});

        fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                $.notify({
                    icon: 'fa fa-check me-1',
                    message: data.message
                }, {
                    type: 'success',
                    allow_dismiss: false,
                });
                setTimeout(() => {
                    window.location.reload()
                }, 2000);
            } else {
                $.notify({
                    icon: 'fa fa-exclamation-triangle me-1',
                    message: 'Failed to submit evaluation. Please try again.'
                }, {
                    type: 'danger',
                    allow_dismiss: false,
                });
            }
        })
        .catch(error => {
            $.notify({
                icon: 'fa fa-times-circle me-1',
                message: 'An error occurred. Please try again.'
            }, {
                type: 'danger'
            });
            console.error('Error:', error);
        });
    }
});
     }

                    static init() {
                        this.initValidation();
                    }
                }

                // Call init function on document ready
                $(document).ready(() => EvaluationFormValidation.init());
            })();

       
        </script>
        `) %>

        <%block('script').append(`<script src="/assets/vendor/datatables.net/js/jquery.dataTables.min.js">
            </script>
            <script src="/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
            <script src="/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
            <script src="/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
            <script src="/assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js"></script>
            <script src="/assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
            <script src="/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
            <script src="/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
            <script src="/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
            <script src="/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js"></script>
            <script src="/assets/vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
            <script src="/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
            <script src="/assets/vendor/datatables.net-select/js/dataTables.select.min.js"></script>

            <!-- Datatable Demo Aapp js -->
            <script src="/assets/js/pages/demo.datatable-init.js"></script>`)%>